@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-weight: 600;
}
header {
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header:hover {
   
}

body {
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    background: rgb(247, 247, 247);

    
}

body:hover {
    filter: blur(1.2px);
    background: rgb(213,213,213);
background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(216,251,248,1) 0%, rgba(224,235,235,1) 64%, rgba(252,252,252,1) 100%);
    
}
.principal {
    display: flex;
    border: 1px solid rgb(73, 73, 73);
    padding: 20px;
    height: 400px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    

}



.right {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    justify-content: center;

}

input {
    padding: 5px;
    text-align: center;
    border-radius: 2px;
    border: none;
}

img {
    width: 400px;
    border-radius: 250px
}

img:hover {
    transition: 3s;
    cursor: pointer;
    filter: blur(12px);
    
}

#button {
    margin-top: 20px;
    
}

#submit {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

#submit:hover {
    cursor: pointer;
    transition: 1s;
    background: white;
    color: black;
}

@media (min-width: 300px) and (max-width: 900px) {
    body{
        
        height: 100vh;
        width: 100vw;
    }

    body:hover {
        filter: none;
        background: rgb(216, 216, 216)
    }

    .left {
     display: none;
    }

    header p {
        display: none;
    }
}